aside{
    width: 300px;
    background-color: none;
    color: #24292f;
    margin-top: -35px;
    height: 90vh;
    margin-left: 140px;
    h2{
      font-size: 24px;
      font-weight: 600;
      margin-top: 16px;
      opacity: 0.8;
    }
    h4{
      font-size: 16px;
      opacity: 0.8;
    }
    h3{
      font-size: 20px;
      font-weight: 300;
      margin-bottom: 16px;
      opacity: 0.5;
    }
    button{
      font-size: 14px;
      font-weight: 500;
      border: 1px solid rgba(27,31,36,0.15) ;
      background:#21262D;
      width: 100%;
      padding: 5px;
      border-radius: 6px;
      transition: background 0.2s ease-in-out;
      margin-bottom: 16px;
      &:hover{
        border: 1px solid white;
        transition: 0.5s ease;
        -webkit-transition: 0.5s ease;
        -moz-transition: 0.5s ease;
        -ms-transition: 0.5s ease;
        -o-transition: 0.5s ease;
}
    }
  
  
    img{
      width: 294px;
      height: 294px;
      border-radius: 50%;
      object-fit: cover;
      box-shadow: 0 0 1px rgb(27, 31, 36);
      border: 1px solid #d0d7de;
    }
  
    p:nth-child(1){
      color: #24292f;
      margin: 5px;
      opacity: 1;
      i{
        color: #57606a;
      }
      b{
        color: #000;
        font-weight: 500;
      }
    }
    
  }
  
  
  .follow{
    color: #57606a; 
    margin-bottom: 16px;
  }
  .wrapper-all{
    max-width: 1280px;
    margin: 0 auto;
  }
  .nol{
    opacity: 1 !important;
  }
  